footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap:10px; 
    .sponsors{
        gap: 10px;
        @include flex-row-align-center;
    }

    h3{
        font-size: 1rem;
        @include flex-row-align-center;
    }
    .img-thumbnail{
        width:60px;
        height: 20px;
        background-color: rgb(64, 228, 196);
        border: solid 1px transparent;
        @include flex-row-align-center;
    }

    .rrss{
        gap:20px;
        .bi{
            font-size: 1.3rem;
            color: rgb(18, 19, 19);
        }
    }
}
@media (max-width:425px){
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

