// galeria.html

#galeria{
    display:grid;
    grid-template-areas:
    "foto1 foto1 foto2 foto2 foto2"
    "foto3 foto3 foto2 foto2 foto2"
    "foto3 foto3 foto2 foto2 foto2"
    "foto4 foto5 foto6 foto7 foto8";
    gap: 5px;
    margin: 30px 0;
}

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8{
    @include fotos;
}

.foto1{
    background-image: url(../images/galeria/6.jpg);
    grid-area: foto1; 
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto2{
    background-image: url(../images/galeria/R.jpeg);
    grid-area: foto2;
    height:100%;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto3{
    background-image: url(../images/galeria/5.jpg);
    grid-area: foto3;
    height: 400px;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto4{
    background-image: url(../images/galeria/4.jpeg);
    grid-area: foto4;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto5{
    background-image: url(../images/galeria/3.jpeg);
    grid-area: foto5;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto6{
    background-image: url(../images/galeria/1.jpg);
    grid-area: foto6;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto7{
    background-image: url(../images/galeria/2.png);
    grid-area: foto7;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.foto8{
    background-image: url(../images/galeria/8.jpg);
    grid-area: foto8;
    &:hover{
        transform: scale(1.2); 
        transition: transform 0.3s ease; 
    }
}

.video{
    gap:25px;
    margin: 0 auto;
    iframe{
        max-width: 100%;
    }
}

@media(min-width:425px){
    .video{
        @include flex-column;
    }
}
@media(max-width:768px){
    .video{
        @include flex-column;
        
    }
}
@media(min-width:769px){
    .video{
        @include flex-row;
    }
}

