@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-row-align-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


@mixin fotos{
    max-width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}